<div class="card px-6 py-6">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
            <div class="my-2 buttons">
                <button pButton pRipple label="Создать" icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="openNew()"></button>
                <button
                        pButton
                        pRipple
                        label="Удалить"
                        icon="pi pi-trash"
                        class="p-button-danger ml-5 delete-selected"
                        (click)="deleteSelectedTodos()"
                        [disabled]="!selectedTodos || !selectedTodos.length"
                ></button>
            </div>
        </ng-template>

        <ng-template pTemplate="left">
            <h2>Запиши И Заверши!</h2>
        </ng-template>
    </p-toolbar>

    <app-shared-table
            [data]="userTodos"
            [columns]="cols"
            [rows]="5"
            [isAdmin]="isAdmin"
            [(selectedItems)]="selectedTodos"
            (edit)="editTodo($event)"
            (delete)="deleteTodo($event)"
    ></app-shared-table>
</div>
<!-- Модальное окно для создания/редактирования -->
<p-dialog [(visible)]="todoDialog" [style]="{width: '450px'}" class="todos"  header="Подробности задачи"
          [modal]="true">
    <ng-template class="creat-edit-modal" pTemplate="content">
        <div class="field">
            <label for="name">Заголовок</label>
            <input type="text" id="name" pInputText [(ngModel)]="todo.name" required>
        </div>
        <div class="field">
            <label for="description">Описание</label>
            <textarea id="description" pInputTextarea [(ngModel)]="todo.description" required
                      rows="3"></textarea>
        </div>
        <p-dropdown
                [(ngModel)]="todo.status"
                [options]="statusOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Выберите статус"
                required
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !todo.status }"
        ></p-dropdown>
        <span
                *ngIf="todo.status !== undefined"
                class="status-badge"
                [ngClass]="{ 'status-true': todo.status, 'status-false': !todo.status }"
        >
  </span>
        <small *ngIf="submitted && !todo.status" class="p-error">Статус обязателен для
            выбора.</small>

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
        <button pButton pRipple label="Сохранить" icon="pi pi-check" class="p-button-text"
                (click)="saveTodo()"></button>
    </ng-template>
</p-dialog>
<!-- Диалог подтверждения удаления -->
<p-dialog
        [(visible)]="deleteTodosDialog"
        [style]="{ width: '400px' }"
        header="Подтверждение"
        [modal]="true"
        [closable]="false"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem;"></i>
        <span *ngIf="selectedTodos.length === 1">
      Вы уверены, что хотите удалить <b> {{ selectedTodos[0].name }} </b>?
    </span>
        <span *ngIf="selectedTodos.length > 1">
    Вы уверены, что хотите удалить выбранные задачи?
    </span>
    </div>

    <ng-template pTemplate="footer">
        <button
                pButton
                pRipple
                icon="pi pi-times"
                label="Нет"
                class="p-button-text"
                (click)="deleteTodosDialog = false"
        ></button>
        <button
                pButton
                pRipple
                icon="pi pi-check"
                label="Да"
                class="p-button-text"
                (click)="confirmDeleteSelected()"
        ></button>
    </ng-template>
</p-dialog>
<p-dialog
        [(visible)]="deleteTodoDialog"
        [style]="{ width: '400px' }"
        header="Подтверждение"
        [modal]="true"
        [closable]="false"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem;"></i>
        <span *ngIf="todo">Вы уверены, что хотите удалить задачу <b>{{ todo.name }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button
                pButton
                pRipple
                icon="pi pi-times"
                label="Нет"
                class="p-button-text"
                (click)="deleteTodoDialog = false"
        ></button>
        <button
                pButton
                pRipple
                icon="pi pi-check"
                label="Да"
                class="p-button-text"
                (click)="confirmDelete()"
        ></button>
    </ng-template>
</p-dialog>

