<div class="dashboard">
    <h2>{{'userDistributionByRole' | translate}}</h2>
    <ngx-charts-pie-chart
            [view]="[width, height]"
            [results]="roleDistribution"
            [scheme]="colorScheme"
            [legend]="true"
            [labels]="true"
    ></ngx-charts-pie-chart>
    <div>
        <h2>{{'usersAddedInLast7Days' | translate}}</h2>
        <ngx-charts-line-chart
                *ngIf="usersLast7Days.length > 0"
                [view]="[width, height]"
                [results]="usersLast7Days"
                [scheme]="colorScheme"
                [legend]="true"
                [xAxis]="true"
                [yAxis]="true"
                [autoScale]="true"
        ></ngx-charts-line-chart>
    </div>
</div>
