.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f6f6;
}

.login-card {
  width: 500px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.create-now {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.p-inputgroup {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
}

.login-button {
  width: 100%;
  background: #4caf50;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.login-button:hover {
  background: #209624;

}

.forgot-password {
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

.facebook-button,
.google-button {
  width: 100%;
  margin: 10px 0;
}

.facebook-button {
  background-color: #4267b2;
  color: #fff;
}

.google-button {
  background-color: #db4437;
  border:none;
  color: #fff;
}

.google-button:hover {
  background-color: #c33627;
}

.facebook-button:hover {
  background-color: #365899;
}
