/* Стиль для контейнера календаря */
.calendar-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #0056b3;
  color: white;

}

.calendar-header h2 {
  font-size: 1.5rem;
  color: #333;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-days div {
  background-color: #f1f1f1;
  padding: 9px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calendar-days div:hover {
  background-color: #ddd;
}

.calendar-days div.selected {
  background-color: #007bff;
  color: white;
}

.calendar-days div.selected:hover {
  background-color: #0056b3;
  color: white;
}
.current-day {
  color: #007bff;
  font-weight: 600

}

/* Стили для формы добавления события */
.event-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.event-form-container h2 {
  font-size: 1.5rem;
  color: #333;
}

.event-form-container .form-group {
  margin-bottom: 15px;
}

.event-form-container input,
.event-form-container select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button[type="button"] {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #5a6268;
}

/* Стили для списка событий */
.event-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.event-details-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.event-details-container p {
  font-size: 1rem;
  color: #777;
}

.event-options label {
  font-size: 1rem;
  color: #555;
}

.event-options select {
  padding: 8px 12px;
  margin-right: 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.event-actions button.delete-button {
  background-color: #d9534f;
}

.event-actions button.delete-button:hover {
  background-color: #c9302c;
}

/* Модальное окно для редактирования события */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  z-index: 1000; /* Убедимся, что модальное окно будет выше остальных элементов */
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;
}

.add-event .modal-content{
  width: 800px;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  z-index: 1001;
}

.modal-content h2 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.modal-content-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-event .modal-content form {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.modal-content .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal-content input,
.modal-content select,
.modal-content textarea,
{
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content button[type="button"] {
  background-color: #6c757d;
}

.modal-content button[type="button"]:hover {
  background-color: #5a6268;
}

/* Выделение текущего дня цветом текста без фона */
.current-day {
  color: blue;  /* Цвет текста для текущего дня */
}

/* Выделение дня с событием (фон + цвет текста) */
.has-event {
  color: blue;  /* Цвет текста */
  background-color: lightblue;  /* Фон для дня с событием */
}


.calendar-days div.has-event:hover {
  background-color: #0056b3;
  color: white;
}
.add-new-event{
  display: flex;
  justify-content: end;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
/* Шаблон для заголовка дней недели */
.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Календарь с днями месяца */
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

