<div class="calendar-events">
    <p-toast></p-toast>
    <!-- Контейнер календаря -->
    <div class="calendar-container">
        <!-- Заголовок с кнопками для изменения месяца -->
        <div class="calendar-header">
            <button (click)="changeMonth(-1)">&lt;</button>
            <h2>{{ getMonthAndYear(selectedMonth) | translate }}</h2>
            <button (click)="changeMonth(1)">&gt;</button>
        </div>

        <div class="calendar-weekdays">
            <div *ngFor="let day of weekDays">{{ day }}</div>
        </div>

        <!-- Отображение дней месяца -->
        <div class="calendar-days">
            <div *ngFor="let day of daysInMonth">
                <!-- Применяем тултип только для текущего дня -->
                <div [pTooltip]="isCurrentDay(day) ? ('today' | translate) : undefined"
                     [class.selected]="isSelectedDay(day)"
                     [class.has-event]="isEventDay(day)"
                     [class.current-day]="isCurrentDay(day)"
                     [ngClass]="'calendar-day'"
                     (click)="selectDay(day)"> <!-- Обработчик клика -->
                    {{ day }}
                </div>
            </div>
        </div>
    </div>
    <br/>

    <p-button (click)="openAddEventModal()" class="add-new-event">
        {{ 'addNewEvent' | translate }}
    </p-button>


    <!-- Модальное окно для добавления нового события -->
    <div *ngIf="isModalOpen" class="modal-overlay add-event">
        <div class="modal-content">
            <h2>{{ 'newEventFor' | translate }} {{ getFormattedDate(selectedDay) }}</h2>
            <div class="modal-content-flex">

                <div class="calendar-container">
                    <div class="calendar-header">
                        <button (click)="changeMonth(-1)">&lt;</button>
                        <h2>{{ getMonthAndYear(selectedMonth) | translate }}</h2>
                        <button (click)="changeMonth(1)">&gt;</button>
                    </div>

                    <div class="calendar-days">
                        <div *ngFor="let day of daysInMonth" (click)="selectDay(day)"
                             [class.selected]="isSelectedDay(day)" [ngClass]="'calendar-day'">
                            {{ day }}
                        </div>
                    </div>
                </div>

                <form (ngSubmit)="saveEvent(eventForm)" #eventForm="ngForm">
                    <div class="form-group">
                        <label [for]="'title' + selectedDay?.getDate()">{{ 'title' | translate }}</label>
                        <input [id]="'title' + selectedDay?.getDate()"
                               [(ngModel)]="newEventTitle"
                               name="title"
                               required
                               minlength="3"
                               #title="ngModel"/>
                        <div *ngIf="title.invalid && title.touched" class="error-message">
                            {{ 'titleRequired' | translate }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label [for]="'description' + selectedDay?.getDate()">{{ 'description' | translate }}</label>
                        <textarea [id]="'description' + selectedDay?.getDate()"
                                  [(ngModel)]="newEventDescription"
                                  name="description"
                                  required
                                  rows="3"
                                  #description="ngModel"></textarea>
                        <div *ngIf="description.invalid && description.touched" class="error-message">
                            {{ 'descriptionRequired' | translate }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="startTimeAdd">{{ 'startTime' | translate }}</label>
                        <input
                                id="startTimeAdd"
                                [(ngModel)]="newEventStartTime"
                                name="startTime"
                                type="time"
                                (ngModelChange)="onStartTimeChange()"
                        />
                        <div *ngIf="newEventStartTime === '00:00' && editingStartTime" class="error-message">
                            {{ 'startTimeRequired' | translate }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="endTimeAdd">{{ 'endTime' | translate }}</label>
                        <input
                                id="endTimeAdd"
                                [(ngModel)]="newEventEndTime"
                                name="endTime"
                                type="time"
                                (ngModelChange)="onEndTimeChange()"
                        />
                        <div *ngIf="newEventEndTime === '00:00' && editingEndTime" class="error-message">
                            {{ 'endTimeRequired' | translate }}
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" [disabled]="eventForm.invalid">{{ 'addEvent' | translate }}</button>
                        <button type="button" (click)="closeModal()">{{ 'cancel' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="selectedDayEvents.length > 0">
        <div *ngFor="let event of selectedDayEvents">
            <div class="event-details-container">
                <div class="event-details-content">
                    <p><strong>{{ selectedDay | date: 'dd/MM/yyyy' }}</strong></p>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                    <p>{{ event.startTime }} - {{ event.endTime }}</p>
                </div>
                <div class="event-actions">
                    <button
                            pButton
                            pRipple
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"
                            (click)="openEditModal(event)">
                    </button>
                    <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="deleteEvent(event)">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Сообщение о том, что нет событий для выбранного дня -->
    <div *ngIf="selectedDayEvents.length === 0">
        <div class="event-details-container">
            <div class="event-details-content">
                <p>{{ 'noEvents' | translate }}</p>
            </div>
        </div>
    </div>

    <!-- Модальное окно для редактирования события -->
    <div *ngIf="isEditModalOpen" class="modal-overlay">
        <div class="modal-content">
            <h2>{{ 'editEvent' | translate }}</h2>
            <form (ngSubmit)="saveEditedEvent()">
                <div class="form-group">
                    <label for="title">{{ 'title' | translate }}</label>
                    <input id="title" [(ngModel)]="editingEvent.title" name="title" required/>
                </div>

                <div class="form-group">
                    <label for="description">{{ 'description' | translate }}</label>
                    <input id="description" [(ngModel)]="editingEvent.description" name="description" required/>
                </div>

                <div class="form-group">
                    <label for="startTime">{{ 'startTime' | translate }}</label>
                    <input id="startTime" [(ngModel)]="editingEvent.startTime" name="startTime" type="time" required/>
                </div>

                <div class="form-group">
                    <label for="endTime">{{ 'endTime' | translate }}</label>
                    <input id="endTime" [(ngModel)]="editingEvent.endTime" name="endTime" type="time" required/>
                </div>

                <button type="submit">{{ 'saveChanges' | translate }}</button>
                <button type="button" (click)="closeEditModal()">{{ 'cancel' | translate }}</button>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно подтверждения удаления -->
<!--<div *ngIf="isDeleteConfirmOpen" class="modal-overlay">-->
<!--    <div class="modal-content">-->
<!--        <h2>{{ 'confirmDeletion' | translate }}</h2>-->
<!--        <p>{{ 'areYouSure' | translate }}</p>-->
<!--        <div class="actions">-->
<!--            <button type="button" (click)="deleteEventConfirmed()" class="confirm-button">-->
<!--                {{ 'yes' | translate }}-->
<!--            </button>-->
<!--            <button type="button" (click)="closeDeleteConfirmModal()" class="cancel-button">-->
<!--                {{ 'no' | translate }}-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<p-dialog [(visible)]="isDeleteConfirmOpen" [modal]="true" [closable]="false" [responsive]="true">-->
<!--    <h2>{{ 'confirmDeletion' | translate }}</h2>-->
<!--    <p>{{ 'areYouSure' | translate }}</p>-->
<!--    <div class="actions">-->
<!--        <button type="button" (click)="deleteEventConfirmed()" pButton label="{{ 'yes' | translate }}" class="confirm-button"></button>-->
<!--        <button type="button" (click)="closeDeleteConfirmModal()" pButton label="{{ 'no' | translate }}" class="cancel-button"></button>-->
<!--    </div>-->
<!--</p-dialog>-->
<p-dialog
        [(visible)]="isDeleteConfirmOpen"
        [style]="{ width: '400px' }"
        [header]="'confirmDeletion' | translate"
        [modal]="true"
        [closable]="false"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem;"></i>
        <span>{{'areYouSure' | translate}}?</span>
    </div>
    <ng-template pTemplate="footer">
        <button
                pButton
                pRipple
                icon="pi pi-times"
                [label]="'no' | translate"
                class="p-button-text"
                (click)="closeDeleteConfirmModal()"
        ></button>
        <button
                pButton
                pRipple
                icon="pi pi-check"
                [label]="'yes' | translate"
                class="p-button-text"
                (click)="deleteEventConfirmed()"
        ></button>
    </ng-template>
</p-dialog>
