<div class="navbar">
    <h1>{{'greeting' | translate}}, {{ userName }}!</h1>
    <div class="buttons">
        <p-button (click)="switchLanguage('ru')" [ngClass]="{'active': currentLang === 'ru'}">Русский</p-button>
        <p-button (click)="switchLanguage('ky')" [ngClass]="{'active': currentLang === 'ky'}">Кыргыз тили</p-button>
        <p-button (click)="switchLanguage('en')" [ngClass]="{'active': currentLang === 'en'}">English</p-button>
    </div>
</div>

<div class="container">
    <div class="p-field">
        <div class="grid">
            <div class="col-12">
                <div class="header-content">
                    <div class="buttons">
                        <!-- theme-toggle.component.html -->
                        <p-button icon="pi pi-moon" [label]="'switchTheme' | translate" (click)="toggleTheme()"></p-button>
                        <!-- Кнопка экспорта -->
                        <p-button type="button" (click)="exportToExcel()">{{'exportToExcel' | translate}}</p-button>
                        <!-- Кнопка импорта -->
                        <p-fileUpload
                            #fileUpload
                            mode="basic"
                            name="file"
                            accept=".xlsx"
                            [chooseLabel]="'importExcel' | translate"
                            (onSelect)="importUsers($event, fileUpload)"
                        >
                        </p-fileUpload>
                        <p-button
                                type="button"
                                class="logout-button"
                                (click)="onLogout()"
                                icon="pi pi-sign-out"
                                [label]="'logOut' | translate"/>
                        <p-button
                                type="button"
                                class="sidebar"
                                (onClick)="sidebarVisible2 = true"
                                icon="pi pi-arrow-left"/>
                    </div>
                </div>
                <p-tabView>
                    <p-tabPanel [header]="'myTasks' | translate">
                        <app-todos/>
                    </p-tabPanel>
                    <p-tabPanel [header]="'users' | translate">
                        <app-users/>
                    </p-tabPanel>
                    <p-tabPanel [header]="'tasksUsers' | translate">
                        <app-users-tasks/>
                    </p-tabPanel>
                    <p-tabPanel [header]="'userAnalytics' | translate">
                        <app-dashboard/>
                    </p-tabPanel>

                </p-tabView>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="sidebarVisible2" position="right">
    <app-audit-trail></app-audit-trail>
</p-sidebar>
<p-dialog [(visible)]="displayModal" [modal]="true" [closable]="true" [header]="'exitConfirmation' | translate">
    <p>{{'wantToLogOut' | translate}}, <b>{{ userEmail }}</b>?</p>
    <ng-template pTemplate="footer">
        <button
                pButton
                pRipple
                icon="pi pi-times"
                [label]="'no' | translate"
                class="p-button-text"
                (click)="displayModal = false"
        ></button>
        <button
                pButton
                pRipple
                icon="pi pi-check"
                [label]="'yes' | translate"
                class="p-button-text"
                (click)="performLogout()"
        ></button>
    </ng-template>
</p-dialog>



