<div class="container">
    <div class="p-field">
        <div class="grid">
            <div class="col-12">
                <div class="header-content">
                    <h1>{{'greeting' | translate}}, {{ userName }}!</h1>
                    <div class="buttons">
                        <div class="custom-dropdown">
                            <p-dropdown
                                    [options]="languages"
                                    [(ngModel)]="selectedLanguage"
                                    optionLabel="label"
                                    placeholder="Выберите язык"
                                    [ngStyle]="{'width': '100%'}"
                                    (onChange)="onLanguageChange($event.value)">
                            </p-dropdown>
                        </div>
                        <p-button
                                icon="pi pi-moon"
                                pTooltip="{{ 'switchTheme' | translate }}"
                                tooltipPosition="bottom"
                                (click)="toggleTheme()">
                        </p-button>

                        <p-button
                                icon="pi pi-file-excel"
                                pTooltip="{{ 'exportToExcel' | translate }}"
                                tooltipPosition="bottom"
                                (click)="exportToExcel()">
                        </p-button>

                        <p-button
                                icon="pi pi-sign-out"
                                pTooltip="{{ 'logOut' | translate }}"
                                tooltipPosition="bottom"
                                class="logout-button"
                                (click)="onLogout()">
                        </p-button>
                        <p-button
                                type="button"
                                class="sidebar"
                                (onClick)="sidebarVisible2 = true"
                                icon="pi pi-arrow-left"/>
                    </div>
                </div>
                <p-tabView>
                    <p-tabPanel [header]="'myTasks' | translate">
                        <app-todos/>
                    </p-tabPanel>
                    <p-tabPanel [header]="'users' | translate">
                        <app-users/>
                    </p-tabPanel>
                    <p-tabPanel [header]="'tasksUsers' | translate">
                        <app-users-tasks/>
                    </p-tabPanel>
                    <p-tabPanel [header]="'userAnalytics' | translate">
                        <app-dashboard/>
                    </p-tabPanel>
                    <p-tabPanel header="Календарь событий">
                        <app-calendar/>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="sidebarVisible2" position="right">
    <app-audit-trail></app-audit-trail>
</p-sidebar>
<p-dialog [(visible)]="displayModal" [modal]="true" [closable]="true" [header]="'exitConfirmation' | translate">
    <p>{{'wantToLogOut' | translate}}, <b>{{ userEmail }}</b>?</p>
    <ng-template pTemplate="footer">
        <button
                pButton
                pRipple
                icon="pi pi-times"
                [label]="'no' | translate"
                class="p-button-text"
                (click)="displayModal = false"
        ></button>
        <button
                pButton
                pRipple
                icon="pi pi-check"
                [label]="'yes' | translate"
                class="p-button-text"
                (click)="performLogout()"
        ></button>
    </ng-template>
</p-dialog>



