// Переменные для основных цветов и стилей
$primary-color: #4caf50;
$secondary-color: #f6f6f6;
$border-color: #ccc;
$border-radius: 4px;
$white-color: #fff;
$red-color: #f44336;
$green-color: #4caf50;
$yellow-color: #ffec3d;
$blue-color: #4267b2;
$google-color: #db4437;
$facebook-hover-color: #365899;
$google-hover-color: #c33627;

$dark-background: #1e1e2f; // Мягкий тёмно-серый фон
$dark-text-color: #e0e0e0; // Светлый текст
$dark-border-color: #3c3c4c; // Светлее границы
$dark-card-color: #29293d; // Для карточек
$secondary-color: #5C9ED8; // Голубой акцентный цвет

$light-background: #ffffff;
$light-text-color: #333333;
$light-border-color: #ddd;
$light-card-color: #f9f9f9;


.dark-theme {
  // Основные стили для темной темы
  background-color: $dark-background;
  color: $dark-text-color;

  .container {
    border: 1px solid $dark-border-color;
    background-color: $dark-card-color;
  }

  .p-tabview .p-tabview-panels {
    background: $dark-background;
    color: $dark-text-color;
  }

  .p-tabview .p-tabview-nav {
    background: $dark-background;
    border: 0 0 2px 0 solid $dark-border-color;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: 0 0 2px 0 solid $dark-border-color;
    background: $dark-background;
    color: $dark-text-color;
  }

  .p-toolbar {
    background: $dark-card-color;
    border: 1px solid $dark-border-color;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    background: $dark-background;
    color: $dark-text-color;
    border: 0 0 1px 0 solid $dark-border-color;
  }

  .p-datatable .p-datatable-thead > tr > th {
    border: 0 0 1px 0 solid $dark-border-color;
    color: $dark-text-color;
    background: $dark-card-color;
  }

  .p-paginator {
    background: $dark-background;
    color: $dark-text-color;
    border: 0 solid $dark-border-color;
  }

  .p-dialog .p-dialog-content {
    background: $dark-background;
    color: $dark-text-color;
  }

  .p-dialog .p-dialog-header {
    background: $dark-background;
    color: $dark-text-color;
  }

  .p-inputtext {
    color: $dark-text-color;
    background: $dark-background;
    //border: 1px solid $dark-border-color;
  }

  .phone-input span {
    background-color: $dark-background;
    border: 1px solid $dark-border-color;
  }

  .p-dropdown .p-dropdown-trigger {
    background: $dark-background;
    color: $dark-text-color;
  }

  .p-dialog .p-dialog-footer {
    background: $dark-background;
    color: $dark-text-color;
  }

  .p-sidebar .p-sidebar-header + .p-sidebar-content {
    background: $dark-background;
    color: $dark-text-color;
  }

  .p-sidebar .p-sidebar-header {
    background: $dark-background;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: $secondary-color;
    border-color: $dark-border-color;
    color: $dark-text-color;
  }

  .calendar-events .calendar-container {
    background: $dark-background;
  }
  .calendar-events .calendar-header h2{
    color: $dark-text-color;
  }
  .calendar-events .calendar-days .calendar-day{
    background: $dark-card-color;
  }
  .calendar-events .has-event{
    color: $secondary-color;
  }
  .calendar-events .event-details-container{
    background: $dark-card-color;
  }
  .calendar-events .modal-content{
    background: $dark-card-color;
  }
  .calendar-events .modal-content input, .calendar-events .modal-content select, .calendar-events .modal-content textarea{
    border: 1px solid $dark-border-color;
    background: $dark-card-color;
    color: $dark-text-color;
  }
  .calendar-events .modal-content input:focus-visible, .calendar-events .modal-content select:focus-visible, .calendar-events .modal-content textarea:focus-visible {
    outline: 1px solid $secondary-color; /* Стиль, который применяется при фокусе */
  }
  .mobile-menu .pi{
    color: $dark-text-color;
  }
}

.light-theme {
  // Основные стили для светлой темы
  background-color: $light-background;
  color: $light-text-color;

  // Контейнеры и компоненты
  .login-container {
    background: $light-card-color;
    color: $light-text-color;
  }

  .login-card {
    background: $light-card-color;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .input-field, .p-inputtext, .p-dropdown {
    background-color: $white-color;
    color: $light-text-color;
    //border: 1px solid $light-border-color;
  }

  .login-button, .facebook-button, .google-button {
    color: $white-color;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .forgot-password, .create-now {
    color: $primary-color;
  }
}

//.p-button:not(:disabled):active {
//  background-color: #007bff; /* Синий фон для активной кнопки */
//  color: white; /* Белый текст для контраста */
//  border-radius: 5px;
//}

.navbar {
  display: flex;
  justify-content: space-between;
  //padding: 0 0 0 20px;
  max-width: 1140px;
  margin: 25px auto;
}

.p-inputtext {
  border-radius: 0
}

// Основные контейнеры
.phone-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    background-color: #f0f0f0;
    padding: 0.5rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
}

.status-false, .status-true {
  width: 150px;
  font-weight: bold;
  font-size: 14px;
}

.status-false {
  color: red;
}

.status-true {
  color: green;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 500px;
  padding: 30px;
  background: $white-color;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.create-now {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
}

.p-inputgroup {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
}

.login-button {
  width: 100%;
  background: $primary-color;
  color: $white-color;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  transition: background 0.3s;

  &:hover {
    background: darken($primary-color, 10%);
  }
}

.forgot-password {
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

.facebook-button, .google-button {
  width: 100%;
  margin: 10px 0;
  color: $white-color;
  border: none;
  padding: 10px;
}

.facebook-button {
  background-color: $blue-color;

  &:hover {
    background-color: $facebook-hover-color;
  }
}

.google-button {
  background-color: $google-color;

  &:hover {
    background-color: $google-hover-color;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 30px;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.toolbar {
  margin-bottom: 15px;
}

.todos .p-dialog-content {
  overflow-y: inherit !important;
}

.p-calendar {
  width: 100%;
}

.delete-selected {
  margin-left: 10px;
}

.button-group {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.p-password-panel .p-password-meter {
  margin-top: 10px;
}

.p-password-panel .p-password-strength {
  height: 5px;
  border-radius: 5px;
}

.p-password-strength.weak {
  background-color: #ff4d4f;
}

.p-password-strength.medium {
  background-color: $yellow-color;
}

.p-password-strength.strong {
  background-color: $green-color;
}

.container {
  padding: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar .container {
  width: 100%;
}

:host ::ng-deep .p-dialog {
  border-radius: 10px;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  font-size: 18px;
  font-weight: bold;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  padding-top: 10px;
  border-top: 1px solid $border-color;
}

:host ::ng-deep .p-field label {
  font-weight: bold;
  margin-bottom: 15px;
  display: inline-block;
}

.p-inputtext, .p-dropdown {
  width: 100%;
}

.field {
  margin-bottom: 15px;
}

.add-new-event .p-button {
  box-shadow: 0 2px 10px rgba(0, 19, 143, 0.1) !important;
  z-index: 0;
}

.status-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.custom-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.status-completed {
  background-color: $green-color;
  color: $white-color;
}

.status-pending {
  background-color: $red-color;
  color: $white-color;
}

.p-button.p-button-warning, .p-button-group.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button {
  background-color: #d32f2f;
  border: #d32f2f;
  margin-left: 8px;
  color: $white-color;
}

.p-button.p-button-success, .p-button-group.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
  margin-left: 8px;
}

.p-sidebar-right {
  width: 50%;
}

.dashboard .chart-container {
  width: 100%; /* График будет растягиваться по ширине контейнера */
  max-width: 700px; /* Максимальная ширина */
  margin: 0 auto; /* Центрируем график по горизонтали */
  height: 400px; /* Фиксированная высота */
}

.mobile-menu .p-button {
  background: none;
  color: #333333;;
  border: none;
}

.mobile-menu .pi {
  font-size: 1.3rem;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-content .p-button {
  width: 100%;
  text-align: left;
}

.calendar-events {
  /* Стиль для контейнера календаря */
  .calendar-container {
    background-color: $light-background;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .calendar-header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .calendar-header button:hover {
    background-color: #0056b3;
    color: white;

  }

  .calendar-header h2 {
    font-size: 1.5rem;
    color: #333;
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }

  .calendar-days .calendar-day {
    background-color: #f1f1f1;
    padding: 9px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .calendar-days .calendar-day:hover {
    background-color: #ddd;
  }

  .calendar-days .calendar-day.selected {
    background-color: #007bff;
    color: white;
  }

  .calendar-days .calendar-day.selected:hover {
    background-color: #0056b3;
    color: white;
  }

  .current-day {
    color: #007bff;
    font-weight: 600

  }

  /* Стили для формы добавления события */
  .event-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }

  .event-form-container h2 {
    font-size: 1.5rem;
    color: #333;
  }

  .event-form-container .form-group {
    margin-bottom: 15px;
  }

  .event-form-container input,
  .event-form-container select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
  }

  button[type="submit"]:hover {
    background-color: #218838;
  }

  button[type="button"] {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  button[type="button"]:hover {
    background-color: #5a6268;
  }

  /* Стили для списка событий */
  .event-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .event-details-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }

  .event-details-container p {
    font-size: 1rem;
    color: #777;
  }

  .event-options label {
    font-size: 1rem;
    color: #555;
  }

  .event-options select {
    padding: 8px 12px;
    margin-right: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
  }

  .event-actions button.delete-button {
    background-color: #d9534f;
  }

  .event-actions button.delete-button:hover {
    background-color: #c9302c;
  }

  /* Модальное окно для редактирования события */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1000; /* Убедимся, что модальное окно будет выше остальных элементов */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .add-event .modal-content {
    width: 800px;
  }

  .modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 1001;
  }

  .modal-content h2 {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .modal-content-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .add-event .modal-content form {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .modal-content .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .modal-content input,
  .modal-content select,
  .modal-content textarea,
  {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
  }

  .modal-content button {
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal-content button:hover {
    background-color: #0056b3;
  }

  .modal-content button[type="button"] {
    background-color: #6c757d;
  }

  .modal-content button[type="button"]:hover {
    background-color: #5a6268;
  }

  /* Выделение текущего дня цветом текста без фона */
  .current-day {
    color: blue; /* Цвет текста для текущего дня */
  }

  /* Выделение дня с событием (фон + цвет текста) */
  .has-event {
    color: blue; /* Цвет текста */
    background-color: lightblue; /* Фон для дня с событием */
  }


  .calendar-days div.has-event:hover {
    background-color: #0056b3;
    color: white;
  }

  .add-new-event {
    display: flex;
    justify-content: end;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  /* Шаблон для заголовка дней недели */
  .calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Календарь с днями месяца */
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  .times {
    display: flex;
    justify-content: space-between;
  }

  .times p-dropdown {
    width: 50%;
  }

  /* Стили для поля времени */
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 870px) {
  .button-group {
    height: 147px;
    align-items: center;
  }

  .buttons .p-button .p-button-label {
    font-size: 12px !important;
  }

  .chart-legend {
    position: absolute;
    right: 30px;
  }
  .dashboard .chart-container {
    height: 300px; /* Меньше высота для мобильных устройств */
  }
}

@media screen and (max-width: 680px) {
  .p-datatable .p-datatable-thead > tr > th {
    font-size: 14px;
  }
  .header-content {
    flex-direction: column;
  }
  .dashboard .chart-container {
    height: 250px; /* Еще меньшая высота для узких экранов */
  }
  .p-sidebar-right {
    width: 100%;
  }
  .mobile-menu {
    display: block;
  }
  .header-content {
    flex-direction: row;
  }
  .calendar-events {
    .add-event .modal-content {
      margin: 0 5px;
      width: 500px;

    }

    .modal-content-flex {
      flex-direction: column;
    }

    .add-event .modal-content form {
      width: 100%;
    }

    .calendar-container {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 425px) {
  .buttons {
    flex-direction: column;
    align-items: baseline;
  }
  .p-dialog {
    margin: 0 10px;
}}

@media screen and (max-width: 375px) {
  .container {
    padding: 10px;
  }
  .calendar-container {
    padding: 10px;
    margin-bottom: 10px;
  }
  .calendar-days .calendar-day {
    padding: 5px;
  }
  .calendar-events {
    .calendar-container {
      padding: 10px;
      margin-bottom: 10px;
    }

    .calendar-days .calendar-day {
      padding: 5px;
    }

    .calendar-header button {
      padding: 5px;
    }
  }
}

@media screen and (max-width: 320px) {
  .main-title {
    display: none;
  }
  .custom-dropdown {
    display: block;
  }
}